body {
     font-family: sans-serif;
     margin: 0;
}

.grid-container {
     display: flex;
     flex-direction: row;
}

.grid {
     padding: 10px;
     flex-grow: 1;
}

.logo {
     max-width: 100px;
     max-height: 100px;
}

.title {
     text-align: left;
}

.top-bar {
     display: block;

     position: static;
     left: 0px;
     top: 0px;
     margin: 0;
     padding: 30px;
     width: 100vw;
     height: 100px;
     background-color: white;
}

.nav-bar {

     list-style-type: none;
     overflow: hidden;
     position: sticky;

     left: 0px;
     top: 0px;
     margin: 0px;
     margin-top: 0px;
     padding: 0;
     width: 100vw;
     background-color: #555;
}

.nav-button {
     left: 0px;
     float: left;
}

.nav-button a {
     padding: 10px;
     background-color: #555;
     color: white;
     display: block;
}

.nav-button a:hover {
     background-color: #333;
     cursor: pointer;
     user-select: none;
}

.nav-button a:active {
     background-color: navy;
     cursor: pointer;
     user-select: none;
}
.sponsor{
     float:left;
     margin-right:50px;
     margin-left:50px;
     
}
.blurb{
    margin-right:150px;
}


